.u-section-1 .u-sheet-1 {
  min-height: 37px;
}

.u-section-1 .u-social-icons-1 {
  height: 28px;
  min-height: 16px;
  width: 180px;
  min-width: 120px;
  margin: 5px 470px 5px auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

@media (max-width: 575px) {
  .u-section-1 .u-social-icons-1 {
    margin-right: 65px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 552px;
}

.u-section-2 .u-text-1 {
  font-size: 2.125rem;
  margin: 58px 455px 0 0;
}

.u-section-2 .u-tabs-1 {
  min-height: 388px;
  height: auto;
  width: 839px;
  margin: 41px auto 28px 0;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-table-1 {
  width: 779px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-body-1 {
  font-weight: 400;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-table-2 {
  width: 779px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-table-header-2 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-body-2 {
  font-weight: 400;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-table-3 {
  width: 779px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-table-header-3 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-body-3 {
  font-weight: 400;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 35px;
  }

  .u-section-2 .u-tabs-1 {
    width: 720px;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
  }

  .u-section-2 .u-table-2 {
    width: 720px;
  }

  .u-section-2 .u-table-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-tabs-1 {
    width: 540px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }

  .u-section-2 .u-table-2 {
    width: 540px;
  }

  .u-section-2 .u-table-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 68px;
    margin-right: -46px;
    margin-left: -40px;
  }

  .u-section-2 .u-tabs-1 {
    width: 430px;
    margin-top: 34px;
    margin-bottom: 44px;
    margin-left: -42px;
  }

  .u-section-2 .u-table-1 {
    width: 421px;
  }

  .u-section-2 .u-table-2 {
    width: 421px;
  }

  .u-section-2 .u-table-3 {
    width: 421px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 226px;
}

.u-section-3 .u-text-1 {
  margin: -27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 300px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px auto 0 2px;
}

.u-section-4 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  margin: 19px 340px 0 19px;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 8px auto 60px 302px;
  padding: 12px 22px 13px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 159px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 310px;
}

.u-section-5 .u-image-1 {
  width: 623px;
  height: 249px;
  margin: 36px auto 24px;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 216px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 136px;
  }
}.u-block-b348-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-b348-3 {
  position: absolute;
  left: 0;
  padding: 7px;
}

.u-block-b348-4 {
  position: absolute;
  right: 0;
  padding: 7px;
}

 .u-section-6-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/ba54c8d6e096781bcbac81e4f17e4fe264d52b676b279483e765661bf2fca433691c7e17231e75bc3eb1943c314e2739767314b16c2ecd45d85389_1280.jpg");
  background-position: 50% 50%;
  min-height: 541px;
}

.u-section-6-1 .u-text-1 {
  font-weight: 700;
  margin: 108px calc(((100% - 1140px) / 2) + -28px) 0;
}

.u-section-6-1 .u-text-2 {
  width: 760px;
  margin: 52px calc(((100% - 1140px) / 2) + 190px) 0;
}

.u-section-6-1 .u-layout-wrap-1 {
  width: 562px;
  margin: 37px auto 60px calc(((100% - 1140px) / 2) + 245px);
}

.u-section-6-1 .u-layout-cell-1 {
  min-height: 70px;
}

.u-section-6-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 0 auto;
  padding: 10px 31px 10px 30px;
}

.u-section-6-1 .u-layout-cell-2 {
  min-height: 70px;
}

.u-section-6-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
   .u-section-6-1 {
    min-height: 446px;
  }

  .u-section-6-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-6-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 90px);
    margin-right: calc(((100% - 940px) / 2) + 90px);
  }

  .u-section-6-1 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2) + 245px);
  }
}

@media (max-width: 991px) {
   .u-section-6-1 {
    min-height: 372px;
  }

  .u-section-6-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6-1 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6-1 .u-layout-wrap-1 {
    margin-left: calc(((100% - 720px) / 2) + 158px);
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-6-1 {
    min-height: 472px;
  }

  .u-section-6-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-6-1 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-7 .u-sheet-1 {
  min-height: 840px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 298px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 310px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 14px auto 0;
}

.u-section-7 .u-text-3 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 11px 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 563px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 50px 27px;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 3px 3px 0;
}

.u-section-7 .u-text-6 {
  font-size: 3.75rem;
  margin: 24px 6px 0 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 54px auto 0 14px;
  padding: 20px 47px 20px 46px;
}

.u-section-7 .u-image-1 {
  min-height: 500px;
  background-image: url("images/nn-min.png");
  background-position: 50% 0%;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 250px;
}

.u-section-7 .u-container-layout-5 {
  padding: 20px;
}

.u-section-7 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-7 .u-text-8 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 250px;
}

.u-section-7 .u-container-layout-6 {
  padding: 20px;
}

.u-section-7 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-9 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-7 .u-text-10 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 246px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 464px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    font-size: 2.75rem;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 412px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 206px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 491px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-7 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 631px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-1 {
    min-height: 473px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-7 .u-text-6 {
    font-size: 2.75rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 298px;
  }
}







