.u-block-68b3-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-68b3-3 {
  position: absolute;
  left: 0;
  width: 69px;
  height: 69px;
}

.u-block-68b3-4 {
  position: absolute;
  right: 0;
  width: 69px;
  height: 69px;
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0 31px;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: 1078px;
  margin: 90px auto 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 430px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-1 .u-text-2 {
  margin: 0;
}

.u-section-1-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1-1 .u-text-4 {
  margin: 0;
}

.u-section-1-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1-1 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 430px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1-1 .u-text-6 {
  margin: 0;
}

.u-section-1-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1-1 .u-text-8 {
  margin: 0;
}

.u-section-1-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1-1 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  margin: 20px 39px 0 auto;
  padding: 10px 60px 10px 58px;
}

.u-section-1-1 .u-layout-cell-3 {
  min-height: 430px;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1-1 .u-text-10 {
  margin: 0;
}

.u-section-1-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1-1 .u-text-12 {
  margin: 0;
}

.u-section-1-1 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-1-1 .u-btn-3 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-1-1 .u-text-14 {
  margin: 30px auto 60px 33px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-btn-1 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-1 .u-btn-2 {
    margin-right: 0;
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-1-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1-1 .u-btn-3 {
    padding-right: 41px;
    padding-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1-1 .u-btn-1 {
    padding-right: 45px;
    padding-left: 43px;
  }

  .u-section-1-1 .u-btn-2 {
    padding-right: 45px;
    padding-left: 43px;
  }

  .u-section-1-1 .u-btn-3 {
    padding-right: 45px;
    padding-left: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-btn-1 {
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-btn-2 {
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-1-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-1-1 .u-btn-3 {
    padding-left: 124px;
    padding-right: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-layout-wrap-1 {
    margin-top: 139px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-1-1 .u-btn-1 {
    padding-left: 72px;
    padding-right: 72px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-1-1 .u-btn-2 {
    margin-right: 48px;
    padding-left: 72px;
    padding-right: 72px;
  }

  .u-section-1-1 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-1-1 .u-btn-3 {
    padding-left: 72px;
    padding-right: 72px;
  }
}

 .u-section-1-2 {
  background-image: none;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1-2 .u-layout-wrap-1 {
  width: 1078px;
  margin: 161px auto 60px;
}

.u-section-1-2 .u-layout-cell-1 {
  min-height: 430px;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-2 .u-text-1 {
  margin: 0;
}

.u-section-1-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1-2 .u-text-3 {
  margin: 0;
}

.u-section-1-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1-2 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 60px 10px 58px;
}

.u-section-1-2 .u-layout-cell-2 {
  min-height: 430px;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1-2 .u-text-5 {
  margin: 0;
}

.u-section-1-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1-2 .u-text-7 {
  margin: 0;
}

.u-section-1-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1-2 .u-btn-2 {
  font-weight: 700;
  background-image: none;
  margin: 20px 39px 0 auto;
  padding: 10px 60px 10px 58px;
}

.u-section-1-2 .u-layout-cell-3 {
  min-height: 430px;
}

.u-section-1-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1-2 .u-text-9 {
  margin: 0;
}

.u-section-1-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-1-2 .u-text-11 {
  margin: 0;
}

.u-section-1-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-1-2 .u-btn-3 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 60px 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-2 .u-btn-1 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-2 .u-btn-2 {
    margin-right: 0;
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-1-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1-2 .u-btn-3 {
    padding-right: 41px;
    padding-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1-2 .u-btn-1 {
    padding-right: 45px;
    padding-left: 43px;
  }

  .u-section-1-2 .u-btn-2 {
    padding-right: 45px;
    padding-left: 43px;
  }

  .u-section-1-2 .u-btn-3 {
    padding-right: 45px;
    padding-left: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 1326px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-btn-1 {
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-btn-2 {
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-1-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-1-2 .u-btn-3 {
    padding-left: 124px;
    padding-right: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 1670px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    margin-top: 139px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-1-2 .u-btn-1 {
    padding-left: 72px;
    padding-right: 72px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-1-2 .u-btn-2 {
    margin-right: 44px;
    padding-left: 72px;
    padding-right: 72px;
  }

  .u-section-1-2 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-1-2 .u-btn-3 {
    padding-left: 72px;
    padding-right: 72px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}


/* modal styling */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

